.componentstack {
  padding: 2rem;
  min-width: 25vw;
}

.mainpaper {
  margin-bottom: 2rem;
  height: fit-content;
  width: 100%;
}

@media (min-width: 768px) {
  .mainpaper {
    margin: 0 1rem;
    width: unset;
  }
}
